/* add code here to make your image 300px square */
img {
    height: 300px;
    border-radius: 25px;
    border: 3px solid aquamarine;
}

/* add code here to change the color and font family of your name/title */
h1 {
    color: darkgoldenrod;
}

/* Bonus: change the color of your list elements */

/* li {
    color: darkgoldenrod;
} */

ol {
    color: darkgoldenrod;
}

#qa {
    color: (11, 135, 184);
}